.header {
    height: var(--header-height);
    border-bottom: 1px solid var(--inverted-bg-solid);
    padding-inline: 12%;
    width: 76%;
    position: fixed;
    top: 0;
    background-color: var(--reg-bg-transparent);
    backdrop-filter: blur(5px);
    flex-wrap: wrap;
    z-index: 10;
}

.menu {
    display: none;
    width: 25px;
    padding: .5em;
    transition: all 250ms;
    border-radius: var(--border-radius);
    z-index: 150;
}

.menu span {
    width: 100%;
    height: 2px;
    background-color: var(--inverted-bg-solid);
}

.rotated {
    transform: rotate(90deg);
    background-color: #dddddd;
}

.modalHeader {
    height: 100%;
}

@media (max-width: 772px) {
    .header {
        padding-right: 5%;
        padding-left: 10%;
        width: 85%;
    }
    .headerLinks {display: none;}
    .menu {display: flex;}
}