.header {
    height: var(--header-height);
    border: 1px solid var(--inverted-bg-solid);
    border-radius: 50px;
    padding: 0 50px;
    position: fixed;
    top: 3vh;
    background-color: var(--reg-bg-transparent);
    backdrop-filter: blur(5px);
    flex-wrap: wrap;
    z-index: 10;
    transition: background-color 500ms;
}

.title {
    transition: all 200ms ease-in-out;
}

.title:hover {
    transform: scale(.96);
}

.menu {
    display: none;
    width: 25px;
    padding: .5em;
    border-radius: var(--border-radius);
    z-index: 1000;
    transition: all 500ms;
}

.menu span {
    width: 100%;
    height: 2px;
    background-color: var(--inverted-bg-solid);
}

.rotated {
    transform: rotate(90deg);
    background-color: #dddddd;
}

.rotated.menu span {
    background-color: var(--theme-black);
}

.modalHeader {
    height: 100%;
}

.headerLinks p {
    transition: color 200ms;
}

.headerLinks p:hover {
    color: #bbbbbb;
}

.animation * {
    animation: 600ms ease-in-out slide-left;
}

.animation *:nth-child(2) {animation-delay: 50ms}
.animation *:nth-child(3) {animation-delay: 100ms}
.animation *:nth-child(4) {animation-delay: 150ms}
.animation *:nth-child(5) {animation-delay: 200ms}
.animation *:nth-child(6) {animation-delay: 250ms}
.animation *:nth-child(7) {animation-delay: 300ms}

@keyframes slide-left {
    from {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }
}

@media (max-width: 900px) {
    .header {
        padding-right: 5%;
        padding-left: 10%;
        width: 70%;
    }
    .headerLinks {display: none;}
    .toggleHeader {display: none;}
    .menu {display: flex;}
}