@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes slideOut {
    from {transform: translateX(100%)}
    to {transform: translateX(0%)}
}

@keyframes grow {
    from {width: 10px; height: 10px; padding: 0;}
    50% {width: min(800px,70%); height: 10px;}
    to {width: min(800px, 70%); height: 70%;}
}

.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index: 100;
    animation: fadeIn 200ms ease-in-out;
}

.modalMain {
    background-color: var(--reg-bg-solid);
    position: absolute;
    right: 0;
    width: min(400px, 75%);
    height: 100vh;
    margin-left: auto;
    animation: slideOut 300ms ease-in-out;
}

.modalProject {
    background-color: var(--theme-white);
    flex-flow: column;
    overflow-y: auto;
    position: relative;
    margin: auto;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: min(800px, 90%);
    height: 75%;
    animation: fadeIn 200ms ease-in-out;
}

.projectImage {
    background-color: #eeeeee;
    position: relative;
    padding: 13% 15%;
    width: 70%;
}

.aboutImage {
    background-color: #eeeeee;
    position: relative;
    padding: 10% 30%;
}

.imgParent {
    position: relative;
    width: 100%;
    height: auto;
}

.img {box-shadow: 0 0 10px #999999;}

.close {
    position: fixed;
    z-index: 100;
    transition: all 200ms;
}

.close:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
}

.modalContent {
    color: var(--theme-black);
}

.modalProject::-webkit-scrollbar {
    width: 6px;
    transition: all 200ms;
    border: none;
}

.modalProject::-webkit-scrollbar-track {
    background: #eeeeee;
    border: none;
}

.modalProject::-webkit-scrollbar-thumb {
    background: #bbbbbb;
    border-radius: 3px;

}

.modalProject::-webkit-scrollbar-thumb:hover {
    background: #aaaaaa;
    width: 10px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .modalProject {
        bottom: 2%;
        height: 70%;
    }
    .aboutImage {
        padding: 10% 80px;
        width: calc(100% - 160px);
    }
    .projectImage {
        padding: 13% 45px;
        width: calc(100% - 90px);
    }
}