@keyframes grow {
    from {width: 10px; height: 10px; padding: 0;}
    50% {width: min(800px,70%); height: 10px;}
    to {width: min(800px, 70%); height: 70%;}
}

.modal {
    position: fixed;
    visibility: hidden;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index: 100;
    opacity: 0;
    transition: opacity 600ms, visibility 450ms;
}

.showModal {
    opacity: 1;
    visibility: visible;
}

.modalMain {
    background-color: var(--reg-bg-solid);
    display: initial;
    position: absolute;
    right: -100%;
    width: min(400px, 75%);
    height: 100vh;
    margin-left: auto;
    transition: right 600ms, background-color 600ms;
}

.hideMain {
    display: none;
}

.showMain {
    right: 0;
}

.modalProject {
    background-color: var(--theme-white);
    flex-flow: column;
    overflow-y: auto;
    position: relative;
    top: auto;
    bottom: -100%;
    left: 0;
    right: 0;
    width: min(800px, 90%);
    height: 75%;
    transition: bottom 600ms ease-in-out;
}

.showProject {
    bottom: 0;
}

.projectImage {
    background-color: #eeeeee;
    position: relative;
    padding: 11% 15%;
    width: 70%;
}

.aboutImage {
    background-color: #eeeeee;
    position: relative;
    padding: 10% 30%;
}

.imgParent {
    position: relative;
    width: 100%;
    height: auto;
}

.img {box-shadow: 0 0 10px #999999;}

.close {
    position: fixed;
    z-index: 100;
    transition: all 200ms;
}

.close:hover {
    background-color: #e0e0e0;
    transform: scale(1.1);
}

.modalContent {
    color: var(--theme-black);
}

.modalProject::-webkit-scrollbar {
    width: 6px;
    transition: all 200ms;
    border: none;
}

.modalProject::-webkit-scrollbar-track {
    background: #eeeeee;
    border: none;
}

.modalProject::-webkit-scrollbar-thumb {
    background: var(--theme-blue);
    border-radius: 3px;

}

.modalProject::-webkit-scrollbar-thumb:hover {
    background: var(--image-overlay);
    width: 10px;
    border-radius: 5px;
}

.modalShift {
    background-color: white;
    cursor: pointer;
    margin: 0 20px;
    opacity: .6;
    width: 50px;
    height: 100px;
    border-radius: var(--border-radius);
    transform: translateY(100vh);
    transition: opacity 600ms 200ms, transform 500ms 150ms ease-in-out;
}

.showShift {
    transform: translateY(0);
}

.modalShift:hover {
    opacity: .9;
}

.modalImg {
    align-self: center;
    position: relative;
    box-shadow: 0 0 5px #888;
}

@media (max-width: 768px) {
    .modalProject {
        bottom: 2%;
        height: 70%;
    }
    .aboutImage {
        padding: 10% 80px;
        width: calc(100% - 160px);
    }
    .projectImage {
        padding: 13% 45px;
        width: calc(100% - 90px);
    }
    .modalShift {
        display: none;
    }
}