.intro {
    min-height: calc(80vh - var(--header-height)*2);
    width: min(100%, 600px);
    animation: fade-in 1s ease-in-out;
}

.about, .projects, .experience, .skills {
    padding-top: calc(var(--header-height) * 1.5);
    min-height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.about {
    width: min(900px, 100%);
}

.description {width: min(100%, 600px);}

.aboutDisplay {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 3fr 2fr;
}

.projectDisplay {
    grid-template-columns: repeat(2, 1fr);
    width: min(900px, 100%);
}

.exploreDisplay {
    width: min(600px, 100%);
}

.displayItem {
    background-color: rgba(244, 244, 244, .9);
    box-shadow: 0 0 4px var(--border-color);
    position: relative;
}

.main {
    grid-column: span 6;
    grid-row: span 3;
}

.side {
    grid-column: span 4;
    grid-row: span 2;
}

.aboutContainer {
    padding: 20%;
    width: 60%;
}

.projectContainer {
    padding: 15%;
    width: 70%;
}

.listContainer {
    border-left: 2px solid var(--inverted-bg-solid);
}

.exploreLine {
    border-color: var(--theme-black);
}

.imgParent {
    position: relative;
    width: 100%;
    height: auto;
}

.aboutAR {aspect-ratio: 1/1 !important;}
.projectAR {aspect-ratio: 16/9 !important;}

.imgOverlay {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    padding: 30px 10%;
    width: 80%;
    height: calc(100% - 60px);
    background-color: var(--image-overlay);
    box-shadow: 0 0 5px var(--theme-blue);
    opacity: 0;
    transition: all 200ms;
    color: var(--theme-white);
}

.overlayText {border-left: 1px solid var(--theme-white);}
.img {box-shadow: 0 0 10px var(--border-color);}

.skills {
    min-height: 40vh;
    width: min(900px, 100%);
}

.skillsGap {
    gap: .75em;
}

.skill {
    background-color: #eeeeee;
    color: var(--theme-black);
    box-shadow: 0 0 3px var(--border-color);
    cursor: default;
}

@keyframes fade-in {
    from {height: 120vh; opacity: 0;}
    to {height: 60vh; opacity: 1;}
}

/* Phone Screen */

@media (max-width: 768px) {
    .aboutDisplay, .projectDisplay {grid-template-columns: 1fr;}
    .aboutContainer {padding: 15%; width: 70%;}
    .projectContainer {padding: 12%; width: 76%;}
    .main, .side {grid-column: span 1;}
}